@use "../../responsive" as *;

.WeatherList {
  &__container {
    display: flex;
    flex-direction: row;

    @include lg {
      flex-direction: row;
      overflow-x: auto;
    }

    @include md {
    }

    @include sm {
      flex-direction: column;
    }
  }
}
