@use "../../styles/global" as *;
@use "../../styles/mixins" as *;
@use "../../styles/typography" as *;
@use "../../styles/variable" as *;

.Home__container {
  margin: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

// WeatherToday
.WeatherToday__container {
  display: flex;
  flex-direction: column;
  align-items: center; // Default alignment
  justify-content: center;
  background-color: #e3f4fe;
  padding: 20px;
  border-radius: 10px;
  align-items: flex-start;
  gap: 10px;

  @include sm {
    align-items: center;
  }

  @include md {
    align-items: flex-start;
  }
}

.WeatherToday--title__container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.WeatherToday--mobileButton {
  border: none;
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
  color: white;
  background-color: #71ba73;
  text-align: center;
  display: none;

  &:hover {
    background-color: #61a563;
  }

  &:disabled {
    cursor: not-allowed;
    background-color: #8d8d8d;
  }

  @include lg {
    display: none;
  }

  @include md {
    display: none;
  }

  @include sm {
    display: flex;
  }
}

.WeatherToday--tabletButton {
  border: none;
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
  color: white;
  background-color: #71ba73;
  text-align: center;

  &:hover {
    background-color: #61a563;
  }

  &:disabled {
    cursor: not-allowed;
    background-color: #8d8d8d;
  }

  @include lg {
    display: flex;
  }

  @include md {
    display: flex;
  }

  @include sm {
    display: none;
  }
}

// WeatherForecast
.WeatherForecast__container {
  display: flex;
  flex-direction: column;
  align-items: center; // Default alignment
  justify-content: center;
  background-color: #e3f4fe;
  padding: 20px;
  border-radius: 10px;
  align-items: flex-start;
  overflow-x: hidden;
  gap: 10px;

  @include sm {
    align-items: center;
  }

  @include md {
    align-items: flex-start;
  }
}

.WeatherForecast--title__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

// WeatherStored
.WeatherStored__container {
  display: flex;
  flex-direction: column;
  align-items: center; // Default alignment
  justify-content: center;
  background-color: #e3f4fe;
  padding: 20px;
  border-radius: 10px;
  align-items: flex-start;
  overflow-x: hidden;

  @include sm {
    align-items: center;
  }

  @include md {
    align-items: flex-start;
  }
}

.WeatherStored--title__container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.WeatherStored--mobileButton {
  border: none;
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
  color: white;
  background-color: #71ba73;
  text-align: center;
  display: none;

  &:hover {
    background-color: #61a563;
  }

  &:disabled {
    cursor: not-allowed;
    background-color: #8d8d8d;
  }

  @include lg {
    display: none;
  }

  @include md {
    display: none;
  }

  @include sm {
    display: flex;
  }
}

.WeatherStored--tabletButton {
  border: none;
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
  color: white;
  background-color: #71ba73;
  text-align: center;

  &:hover {
    background-color: #61a563;
  }

  &:disabled {
    cursor: not-allowed;
    background-color: #8d8d8d;
  }

  @include lg {
    display: flex;
  }

  @include md {
    display: flex;
  }

  @include sm {
    display: none;
  }
}

.WeatherStored--resetButton {
  border: none;
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
  color: white;
  background-color: #e85a5a;

  &:hover {
    background-color: #cf5151;
  }

  &:disabled {
    cursor: not-allowed;
    background-color: #8d8d8d;
  }
}
