@use "../../styles/global" as *;
@use "../../styles/mixins" as *;
@use "../../styles/typography" as *;
@use "../../styles/variable" as *;

.WeatherForecastList__container {
  width: 100%;
}

.WeatherForecastList--data__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  overflow-x: auto;
  @include lg {
    flex-direction: row;
  }

  @include md {
  }

  @include sm {
    flex-direction: column;
    overflow-y: auto;
    max-height: 100vh;
  }
}
